<a href="https://colab.research.google.com/github/kothaneha8/Python-with-DSA-Practice/blob/main/Python%26DSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Fundamentals of python programming**

In [ ]:
# @title variables
x=12
y="SITS"
z=54.23567854
print(type(x))
print(x)
print(type(y))
print(y)
print(type(z))
print(z)

<class 'int'>
12
<class 'str'>
SITS
<class 'float'>
54.23567854

In [ ]:
# @title Data Types
# Numeric
# String
# Sequence
# Boolean

In [ ]:
# @title Numeric
# integer
#float
#complex
x=6
print(type(x))
y=45.6655484
print(type(y))
z=4+2j
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
# @title String
x="SITS"
print(type(x))

<class 'str'>

In [ ]:
# @title Sequence
# List
# Tuple
# Set
# Dictonary

In [ ]:
# @title List
# List is ordered
# List is indexed
# List allows duplicates
# List is mutable
x=['10','20','30','40','20']
print(type(x))
print(x)
print(x[3])
x[2]=89
print(x)
x.append(36)
print(x)
x.remove(36)
print(x)

<class 'list'>
['10', '20', '30', '40', '20']
40
['10', '20', 89, '40', '20']
['10', '20', 89, '40', '20', 36]
['10', '20', 89, '40', '20']

In [ ]:
# @title Tuple
# List is ordered
# List is indexed
# List allows duplicates
# List is immutable
x=('10','20','30','40','20')
print(type(x))
print(x)
print(x[3])

<class 'tuple'>
('10', '20', '30', '40', '20')
40

In [ ]:
# @title Set
# List is unordered
# List is not indexed
# List doesn't allows duplicates
# List is mutable
x={10,20,30}
print(type(x))
print(x)
x.add(5)
print(x)
y=['46','64','94','65']
print(type(y))
z=set(y)
print(z)
print(type(z))

<class 'set'>
{10, 20, 30}
{10, 20, 5, 30}
<class 'list'>
{'46', '64', '65', '94'}
<class 'set'>

In [ ]:
# @title Dictonary
students={'Name':'Alice','Roll no.':65,'Age':12}
print(type(students))
print(students)
print(students['Name'])
students['Name']='John'
print(students)

<class 'dict'>
{'Name': 'Alice', 'Roll no.': 65, 'Age': 12}
Alice
{'Name': 'John', 'Roll no.': 65, 'Age': 12}

In [ ]:
#  @title Operators
# Arithmetic Operator
# Relational operator
# Logical Operator
# Assignment operator
# Membership operator
# Identity Operator

In [ ]:
# @title Arithmetic Operator
x=5
y=3
print("Addition",x+y)
print("Subtraction",x-y)
print("Multiplication",x*y)
print("Division",x/y)
print("Modulus",x%y)
print("Integer Division",x//y)
print("Exponent",x**y)

Addition 8
Subtraction 2
Multiplication 15
Division 1.6666666666666667
Modulus 2
Integer Division 1
Exponent 125

In [ ]:
# @title Relational Operator
x=5
y=3
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
True
False
True
False

In [ ]:
# @title Logical Operator
x=True
y=False
print(x & y)
print(x | y)

False
True

In [ ]:
# @title Membership Operator
x=[2,3,5,7,9]
z=5
print(z in x)
print(z not in x)

True
False

In [ ]:
# @title Identity Operator
x=5
y=10
print(x is y)
print(x is not y)

False
True

In [ ]:
# @title Conditional Statements
# if
# if else
# elif

In [ ]:
# @title if
# Check whether the given number is positive
number=int(input('Enter a number:'))
if number>0:
  print(f"{number} is positive")

Enter a number:12
12 is positive

In [ ]:
# @title if else
# Check whether the given number is positive or negative
number=int(input('Enter a number:'))
if number>0:
  print(f"{number} is positive")
else:
  print(f"{number} is non-positive")

Enter a number:0
0 is non-positive

In [ ]:
# @title Task
# Write a python program to print the grade of a student based on the percentage range if percentage is greater than 90 the grade is A+ , if the percentage is between 70
# and 90 then the grade is A , if the percentage is between 60 and 70 then the grade is B , if the percentage is between 50 and 60 then the grade is C , if the percentage
# is below 50 then the grade is D
percentage=int(input('Enetr the percentage of a student:'))
if percentage>90:
  print("The student grade is A+")
elif (percentage>70) & (percentage<=90):
  print("The student grade is A")
elif (percentage>60) & (percentage<=70):
  print("The student grade is B")
elif (percentage>50) & (percentage<=60):
  print("The student grade is C")
else:
  print("The student grade is D")

Enetr the percentage of a student:75
The student grade is A

In [ ]:
# Write a python program to check whether the given number is even or odd
num=int(input('Enter a number:'))
if num%2==0:
  print(f"{num} is even")
else:
  print(f"{num} is odd")

Enter a number:7
7 is odd

In [ ]:
# Check a person is eligible to vote or not , if a person is eligible for vote find whether he is an adult or senior citzen , whether he need special assistance
age=int(input("Enter age:"))
if age>=18:
  print("Eligible to vote")
  if age>=18 and age<=60:
    print("He is an adult")
  else:
    print("He is senior citzen")
    assist=input("If special assistance needed?")
    if assist=='yes':
      print("Provide wheel chair")
    else:
      print("No special assistance")
else:
  print("Not eligible to vote")

Enter age:75
Eligible to vote
He is senior citzen
If special assistance needed?yes
Provide wheel chair

In [ ]:
# @title Loop control statements
# for loop
# while loop
x=[1,2,3,4,5]
for i in x:
  print(i)
print("  ")
for i in range(len(x)):
  print(x[i])

1
2
3
4
5

1
2
3
4
5

In [ ]:
# Generate a sequence from 1 to 30 and print all even numbers with in that sequence
for i in range(1,31):
  if(i%2==0):
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30

In [ ]:
# While loop
x=[1,2,3,4,5]
i=0
while(i < len(x)):
  print(x[i])
  i+=1

1
2
3
4
5

# **Function**

In [ ]:
def even(num):
  if num%2==0:
    print(f"{num} is even")
  else:
    print(f"{num} is odd")
x=int(input("Enter a number:"))
even(x)

Enter a number:6
6 is even

In [ ]:
# Write a python function to find sum of n natural numbers
def sum(num):
  sum=0
  for i in range(1,num+1):
    sum+=i
  return sum
x=int(input("Enter a number: "))
print(sum(x))

Enter a number: 15
120

In [ ]:
def squares(x):
  result=[]
  for i in x:
    result.append(i**2)
  return result
x=[1,2,3,4,5]
print(squares(x))

[1, 4, 9, 16, 25]

In [ ]:
def even(x):
  result=[]
  for i in x:
    if i%2==0:
      result.append(i)
  return result
x=[2,3,4,5,6]
print(even(x))

[2, 4, 6]

In [ ]:
# @title Lambda Function
nums=[2,3,4,5]
lists=list(map(lambda x:x*x,nums))
print(lists)

[4, 9, 16, 25]

In [ ]:
# @title Filter Function
nums=[2,3,4,5,6]
lists=list(filter(lambda x:x%2==0,nums))
print(lists)

[2, 4, 6]

In [ ]:
# @title Reduce Function
from functools import reduce
nums=[2,3,4,5,6]
lists=reduce(lambda x,y:x+y,nums)
print(lists)

20

In [ ]:
# @title List Comprehension
x=[2,3,6,5,9,12]
result=[]
for i in x:
  if i%2==0:
    result.append(i)
print(result)
print("list comprehension")
result=[i for i in x if i%2==0]
print(result)

[2, 6, 12]
list comprehension
[2, 6, 12]

In [ ]:
x=[1,2,3,4,5]
result=[i*i for i in x]
print(result)

[1, 4, 9, 16, 25]

In [ ]:
x=[1,2,3,4,5,6,9,13]
result=[i for i in x if i%3==0]
print(result)

[3, 6, 9]

In [ ]:
# @title Dictonary comprehension
subject={1:1,2:2,3:3}
result={i:i*i for i in subject}
print(result)

{1: 1, 2: 4, 3: 9}

In [ ]:
# @title Q1
# Write a python program to print all factors of a given number
def factors(x):
  for i in range(1,x+1):
    if x%i==0:
      print(i)
x=int(input("Enter a number:"))
factors(x)

Enter a number:5
1
5

In [ ]:
# @title Q2
# Write a python program to print given number is a prime number or not
def primenumber(num):
  count=0
  for i in range(1,num+1):
    if num%i==0:
      count+=1
  if count==2:
    print(f"{num} is prime number")
  else:
    print(f"{num} is not prime number")
num=int(input("Enter a number: "))
primenumber(num)

Enter a number: 24
24 is not prime number

In [ ]:
# @title Q3
# Write a python program to print prime numbers upto given number
def prime(num):
  for i in range (2,num+1):
    prime=True
    for j in range(2,i):
      if i%j==0:
        prime=False
        break
    if(prime):
      print(i)
num=int(input("Enter a number:"))
prime(num)

Enter a number:25
2
3
5
7
11
13
17
19
23

# **OOPs**

In [ ]:
# OOPs(Object Oriented Programming)
# Class

In [ ]:
# @title Class
class computer:
    def __init__(self,Cpu,RAM,HDD):
        self.Cpu=Cpu
        self.RAM=RAM
        self.HDD=HDD
com1=computer('i5','8GB','512GB')
com2=computer('ryzen','16GB','1TB')
print(com1.Cpu)
com2.HDD='2TB'
print(com2.HDD)

i5
2TB

In [ ]:
class computer:
    def __init__(self,Cpu,RAM,HDD):
        self.Cpu=Cpu
        self.RAM=RAM
        self.HDD=HDD
    def display(self):
        print(self.Cpu+" "+self.RAM+" "+self.HDD)
com1=computer('i5','8GB','512GB')
com2=computer('ryzen','16GB','1TB')
com1.display()
print(" ")
com2.display()

i5 8GB 512GB

ryzen 16GB 1TB

In [ ]:
# Create a student class with attributes student name,hall ticket number, and branch of the student and also def a function which displays the student information
class student:
    def __init__(self,name, hallticket, branch):
        self.name=name
        self.hallticket=hallticket
        self.branch=branch
    def display(self):
        print(self.name+" "+self.hallticket+" "+self.branch)
stu1=student('Neha','6612','CSM')
stu2=student('Srividya','6607','CSM')
stu1.display()
print(" ")
stu2.display()

Neha 6612 CSM

Srividya 6607 CSM

In [ ]:
# Create a student class with attributes student name,hall ticket number, and branch of the student and also def a function which displays the student information include additional parameters student marks in two subjects and create a function which gives the percentage of student.
class student:
    def __init__(self,name, hallticket, branch,Maths, physics):
        self.name=name
        self.hallticket=hallticket
        self.branch=branch
        self.Maths=Maths
        self.physics=physics
    def display(self):
        print(self.name,self.hallticket,self.branch,self.Maths,self.physics)
    def percentage(self):
        total=self.Maths+self.physics
        percent=(total/200)*100
        print(percent)
stu1=student('Neha','6612','CSM',78,89)
stu2=student('Srividya','6607','CSM',78,89)
stu1.display()
stu1.percentage()
print(" ")
stu2.display()
stu2.percentage()

Neha 6612 CSM 78 89
83.5

Srividya 6607 CSM 78 89
83.5

In [ ]:
# @title Recursion
def fun(n):
    if(n>0):
        print(n)
        n=n-1
        fun(n)
        print(n)
n=5
fun(5)

5
4
3
2
1
0
1
2
3
4

In [ ]:
def fun(n):
    if(n>=0):
        fun(n-1)
        print(n)
n=5
fun(5)

0
1
2
3
4
5

In [ ]:
# Factorial using recursion
def factorial(n):
    if(n==1 or n==0):
        return 1
    else:
        return n*factorial(n-1)
n=5
print(factorial(5))

120

In [17]:
# @title Q1
#write a python recursive function program to print the Fibonacci series upto 10 terms and also implement the same using iterations(loops)
def fibonacci(n):
  if n<=1:
    return n
  else:
    return fibonacci(n-1)+fibonacci(n-2)
for i in range(10):
  print(fibonacci(i),end=" ")

0 1 1 2 3 5 8 13 21 34

In [ ]:
# @title Q2
# Find sum of n natural numbers using recursion
def sum(n):
  if n==1:
    return 1
  else:
    return n+sum(n-1)
n=5
print(sum(5))

15

In [ ]:
# @title Q3
# Create a class of car that has attributes color , model , and brand and write a function to display the car information
class car:
  def __init__(self,color,model,brand):
    self.color=color
    self.model=model
    self.brand=brand
  def display(self):
    print(self.color,self.model,self.brand)
car1=car('Red','City','Honda')
car2=car('Black','Creta','Hyundai')
car1.display()
print(" ")
car2.display()

Red City Honda

Black Creta Hyundai